* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

.inner {
    display: flex;
    margin: o auto;
    width: 100%;
    padding: 0 2%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section.main {
    background-image: url('images/bg-grey.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding: 20px 0 80px 0;
}

.menu {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 2%;
    /* background: green; */
}

.logo-menu {
    display: flex;
    align-items: center;
    width: 50%;
}

.logo-menu img {
    width: 50px;
    user-select: none;
}

.logo-menu h1 {
    cursor: default;
    user-select: none;
    font-family: 'EB Garamond', serif;
    font-size: 30px;
}

.items-menu {
    /* background: red; */
    width: 50%;
    text-align: right;
}

.items-menu a {
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    margin: 0 2%;
}

.items-menu a:hover {
    border-bottom: 2px solid #FFD046;
}

.items-menu a.contact-btn {
    background-color: #72D6CA;
    padding: 10px 10px;
    border-radius: 10px;
    color: #766B6E;
}

.items-menu a.contact-btn:hover {
    border: 0;
}

.mockup {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 2%;
}

.mockup h1 {
    font-size: 40px;
}

.mockup p {
    font-size: 20px;
}

.mockup img {
    max-width: 50%;
}

/* ........................................... */
/*           FIM DA PRIMEIRA PAGINA           */
/* ........................................... */

section.porques {
    padding: 40px 0;
    background-color: #766B6E;
    /* height: 50vh; */
    width: 100%;
}

section.porques img {
    max-width: 45px;
    max-height: 45px;
    width: auto;
    height: auto;
}

section.porques>.inner>h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 2%;
}

section.porques>.inner>p {
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.diferenciais {
    display: flex;
}

.box-diferenciais {
    border-radius: 10px;
    background-color: #FFD046;
    box-shadow: 0px 20px 40px #2426721C;
    height: 30%;
    width: 33%;
    margin: 2%;
    padding: 2%;
}

.imgetxt {
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.box-diferenciais h3 {
    margin-left: 4%;
    color: black;
    font-size: 25px;
}

.box-diferenciais p {
    margin-top: 5%;
    color: #766B6E;
    font-size: 18px;
}

/* ........................................... */
/*            FIM DA SEGUNDA PAGINA            */
/* ........................................... */

section.benefits {
    display: flex;
    width: 100%;
    padding: 40px 0;
    background-color: #766B6E;
    align-items: center;
    height: 100vh;
}

.left {
    width: 50%;
    padding: 2%;
}

.left h1 {
    font-size: 50px;
    margin-bottom: 5%;
    margin-left: 20%;
}

.left a {
    background-color: #72D6CA;
    padding: 18px;
    border-radius: 10px;
    color: #766B6E;
    text-decoration: none;
}

.btn {
    padding: 2%;
    display: flex;
    justify-content: center;
}

.imgtxt2 {
    display: flex;
    padding: 2%;
    align-items: center;
}

.imgtxt2 p {
    font-size: 20px;
    padding: 1%;
}

.imgtxt2 img {
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
    margin-left: 10%;
}

.right {
    width: 50%;
}

.right img {
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
}

/* ........................................... */
/*            FIM DA TERCEIRA PAGINA           */
/* ........................................... */

section.depoiments {
    /* background-color: red; */
    background-image: url('images/bg-grey.jpg');
    /* background-color: #696969; */
    background-position: center;
    /* display: flexbox; */
}

.th1 h1 {
    color: white;
    font-size: 50px;
    padding-top: 2%;
    margin-left: 10%;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    flex-direction: column;
}
.tudo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    flex-direction: column;
}

.container {
    position: relative;
    margin: 0 auto;
    /*alinhou horizontalmente! */
    height: 500px;
    width: 500px;
}

.container .deps {
    position: absolute;
    padding: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s;
    background-color: white;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

.stars {
    /* background-color: red; */
    position: absolute;
    bottom: 20%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.container .deps p {
    color: black;
}

.container .deps h2 {
    color: #766B6E;
}

.container .deps h3 {
    color: #766B6E;
}

.pfp {
    /* padding: 10%; */
    min-width: 30%;
    min-height: 30%;
    margin-bottom: 10%;
}

.bullets {
    text-align: center;
    margin-top: 10px;
}

.bullet-single {
    margin: 0 8px;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
}

.active-bullet {
    background-color: #72D6CA;
}

@media screen and (max-width: 800px) {
    .diferenciais {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    .box-diferenciais {
        width: 80%;
        margin-right: 0;
        height: 20%;
    }

    .mockup img {
        max-width: 80%;
    }

    .items-menu a.contact-btn {
        margin-top: 5%;
    }

    section.benefits {
        display: grid;
        /* text-align: center; */
    }

    .left {
        width: 100%;
        /* background-color: red; */
    }

    .right {
        width: 100%;
        /* background-color: blue; */
        text-align: center;
    }
}